@import '../utils/variables.scss';
.clients {
  padding: 60px 0;
  min-width: 320px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

// Заголовок
.clients__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

// Логотипы клиентов
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 92px;
  min-width: 130px;
  width: calc((100vw - 60px) / 2);

  border: 1px solid $ico-color;
  border-radius: 4px;

  transition: border-color $hover-time $hover-function;
  &:hover,
  &:focus {
    border-color: $acent-color;
  }
  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.clients__ico {
  fill: $ico-color;
  transition: fill $hover-time $hover-function;
  .clients__link:hover &,
  .clients__link:focus & {
    fill: $acent-color;
  }
}
