@import '../utils/variables.scss';
.quality {
  padding: 60px 0;
}
.quality__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.quality__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-width: 450px;
  height: 120px;

  background-color: $bkg-color;
  border-radius: 4px;
}
// Заголовок карточки
.quality__item-title {
  // width: 270px;
  margin: 30px auto 0;

  font-size: 14px;
  line-height: (16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: $title-color;
}
.quality__item-description {
  margin-top: 10px;
}
