@import '../utils/variables.scss';
.team {
  padding: 60px 0;
  background-color: $bkg-color;
  text-align: center;
  min-width: 320px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
// Заголовок
.team__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
// Карточка работника
.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex-basis: calc((100% / 2) - 15px);
  }
}

.card {
  padding-bottom: 24px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}
.card__img {
  display: block;
}
// Описание карточки
.card__capture {
  padding-top: 30px;
  margin-bottom: 16px;
}
.card__name {
  margin-bottom: 10px;

  font-weight: $capture-weight;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-color;
}
.card__role {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
// Спицок соц. сетей работника
.soc-med-list--card {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc-med-list__ico--card {
  fill: $ico-color;
}
