// Палитра цветов
$title-color: #212121;
$text-color: #757575;
$acent-color: #2196f3;
$button-hover-color: #188ce8;
$logo-color: #000000;
$alternative-color: #ffffff;
$bkg-color: #f5f4fa;
$ico-color: #afb1b8;
$footer-color: #2f303a;
$bkg-hero: #c4c4c4;

$hover-time: 250ms;
$hover-function: cubic-bezier(0.4, 0, 0.2, 1);

$main-font: 'Roboto', sans-serif;
$btn-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$title-font: 'Roboto', sans-serif;

$hero-weight: 900;
$logo-weight: 700;
$btn-weight: 700;
$capture-weight: 500;
$btn-weight: 700;
$sub-title_weight: 700;
$text-weight: 400;
